@font-face {
	font-family: 'Redaction';
  font-style: normal;
  font-weight: regular;
	src: local('Redaction'),
		url(/fonts/Redaction.otf);
}

h1 {
    position: absolute;
    margin-left: 750px;
    margin-top: 350px;
    
    font-family:'Redaction';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#rectangle {
  position: absolute;
  width: 800px;
  height: 370px;
  border: 1px solid #000000;
  box-sizing: border-box;
}
