@font-face {
	font-family: 'Redaction';
  font-style: normal;
  font-weight: regular;
	src: local('Redaction'),
		url(/fonts/Redaction.otf);
}

h1 {
	font-family: 'Redaction';
	font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
    
    color: #000000;
}
